# Python
__pycache__/
*.py[cod]
*.swp
.DS_Store
.vscode

# Virtual Environment
venv/
env/
uhigen/

# Logs
logs/
*.log

# Compiled files
*.pyc
dist/
build/
*.spec

# Local files
*.tif
dataset/# Python
__pycache__/
*.py[cod]
*.swp
.DS_Store
.vscode
dataset/